.greenToolTip {
    background: green;
    border: 2px solid green
}

.redToolTip {
    background: red;
    border: 2px solid red
}

.yellowToolTip {
    background: yellow;
    border: 2px solid yellow
}

.blackToolTip {
    background: black;
    border: 2px solid black
}

.leaflet-tooltip-left.greenToolTip::before {
    border-left-color: green;
}

.leaflet-tooltip-right.greenToolTip::before {
    border-right-color: green;
}

.leaflet-tooltip-left.redToolTip::before {
    border-left-color: red;
}

.leaflet-tooltip-right.redToolTip::before {
    border-right-color: red;
}

.leaflet-tooltip-left.yellowToolTip::before {
    border-left-color: yellow;
}

.leaflet-tooltip-right.yellowToolTip::before {
    border-right-color: yellow;
}

.leaflet-tooltip-left.blackToolTip::before {
    border-left-color: black;
}

.leaflet-tooltip-right.blackToolTip::before {
    border-right-color: black;
}

.btn {
    width: 50px;
    margin: 10px;
}

.form-inline{
    display: inline-block;
    width: auto;
}

label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}

input{
    width: 50%!important;
    }